.main-container{
    max-width: 80%;
    margin: 100px auto;
}

.price-card{
    display:block;
    max-width: 100%;
    border-radius: 0;
}

.about-us-card{
    max-width: 1000%;
    display: block;
    /* float: right; */
    border-radius: 0 0 10px 10px;
    
}