*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

h2{
    color: hsl(179, 62%, 43%);
    padding: 40px 20px 0 40px;

}

.main-container{
    max-width: 650px;
    /* min-height: 100vh; */
    justify-content: center;
    margin: 200px auto;
}

.main-card{
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.main-text{
    color: hsl(71, 73%, 54%);
    padding: 20px 20px 10px 40px;
    font-size: 17px;
    font-weight: bold;
}

.secondary-text{
    color: hsl(218, 22%, 67%);
    padding: 0 30px 40px 40px;
    line-height: 1.5;
}

/* Last Containers */

.price-card{
    background-color: hsl(179, 62%, 43%);
    display: inline-block;
    max-width: 50%;
    color: white;
    border-radius: 0 0 0 10px;
}

.main-price{
    padding: 40px 40px 10px 40px;
}

.price-value{
    padding: 0 40px 10px 40px;
    color: hsl(179, 41%, 75%);
    font-weight: 200;
}

.price-dolar{
    font-size: 30px;
    color: white;
    padding-right: 5px;
    text-align: center;
    font-weight: 400;
}

.price-text{
    padding: 0 50px 10px 40px;
    font-weight: 200;
}

.btn-subscription{
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 16px;
    padding: 16px;
    width: 80%;
    margin: 20px 30px 40px;
    border-radius: 8px;
    border: none;
}

.about-us-card{
    background-color: hsl(179, 42%, 52%);
    max-width: 50%;
    display: inline-block;
    /* float: right; */
    color: white;
    padding: 40px 2px 46px 6px;
    border-radius: 0 0 10px 0;
    
}

.main-about-us{
    padding: 0 70px 0 30px;

}

.about-us-text{
    padding: 25px 70px 10px 40px;
    font-weight: 200;
    color: hsl(180, 32%, 80%);
}